<template name="SideNav">
	<nav class="side-nav">
		<ul>
			{{#each collections}}
		    <li class="treeview">
		    	<a href="{{path}}">
		            <span>{{title}}</span>
		            <i id="{{title}}-angle" class="fa fa-angle-left pull-right"></i>
		        </a>
		            <ul id="{{title}}" class="submenu">
		            {{#each subitems}}
		                <li class="subitem">
		                    <a href="{{path}}" id="{{name}}" class="subitem-info">
		                        <i class="{{icon}}"></i>
		                        <span> {{text}}</span>
		                    </a> 
		                </li>
		            {{/each}}
		            </ul>
		    </li>
		    {{/each}}
		</ul>	
	</nav>
</template>